body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

p{
  font-family: 'Helvetica Neue' ;
  color:#5C7185;
  font-weight: bold;
}
small{
  color:#808080;
}

.dogname {
  text-transform: capitalize;
}

.marginBottom{
  margin-bottom: 100px;
}